header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#search-container{
    flex-grow: 1;
    position: relative;
}
#widget-container{
    margin:25px 40px;
}

#widget-container a{
    font-size: 25px;
    margin: 10px;
    text-decoration: none;
    color: black;
}
#notif-container{
    position: relative;
}

h1{
    font-size: 25px;
    font-weight: normal;
    margin-left: 30px;
    margin-right: 60px;
}
#searchbar{
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 30px;
}
.fa-search{
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 25px;
}

#notif{
    position: absolute;
    top: 0;
    left: 10px;
    width: 20px;
}


#user-dropdown{
    position: absolute;
    bottom: -200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 40px;
    border-radius: 20px;
}

#user-dropdown h2{
    font-size: 20px;
    margin: 0;
}
#user-name{
    margin: 0;
    font-weight: bold;
}

#user-email{
    margin: 0;
    margin-bottom: 10px;
}
#profile-btn{
    background-color: #7AEAFF;
    border:none;
    font-weight: bold;
    font-size: 14px !important;
    padding: 5px 30px;
    border-radius: 12px;
    margin-bottom: 10px;
}
#logout-btn{

    text-decoration: none;
    font-size: 14px !important;
    font-weight: bold;
    background-color: #FF4444;
    padding: 5px 40px;
    border-radius: 12px;
    margin-top: 10px;
}